<html>
  <head>
    <style>
      p {
        text-indent: 50px;
      }
    </style>
  </head>
  <body>
  	<% if @bad_parameter %>
  		<h1>ERROR</h1>
      <h2>Invalid Parameters.</h2>
      <p2>Please enter:<p2>
  		<p>1. A single-character true symbol</p>
  		<p>2. A single-character false symbol</p>
  		<p>3. A size greater than or equal to 2</p>
  		<p>4. Different characters for the true and false symbols.</p>
      <a href="/">Back to main</a>
  	<% else %>
  		<h1>ERROR</h1>
      <h2>Invalid Address.</h2>
      <a href="/">Back to main</a>
  	<% end %>
  </body>
</html>
